#root {
    // background-color: rgb(61, 66, 124);
    // min-height: 100vh;
    font-family: Helvetica;
}

@media screen and (max-width:600px){
    h1{
        font-size: 25px
    }
}

@media screen and (max-width:1024px){
    h1{
        font-size: 30px
    }
}
footer{
    position: relative;
    bottom: 0;
    left:0;
    right:0;
    color:white;
}

.image-cropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width:100%;
    height: auto;
  }
  
  .social-team{
      margin: 0 10px 0 10px;
  }